.Leader {
  stroke-width: 0.5 !important;
  stroke: #color_8;
  fill: none !important;
}

.Button {
  stroke-width: 0.25;
  stroke: #color_fg;
  fill: #color_fg;
}

.Ring {
  stroke-width: 0.5 !important;
  stroke: #color_8 !important;
  fill: none !important;
}

.Label {
  stroke: none !important;
  stroke-width: 0.1 !important;
  font-size: 0.1 !important;
  fill: transparent !important;
}

.TouchStrip,
.TouchRing {
  stroke-width: 0.1 !important;
  stroke: #color_fg !important;
  fill: #color_8 !important;
}
