* { 
    all: unset;
    border: none;
    border-radius: 4;
    font-family: JetBrains Mono;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: @theme_base_color;
    background-color: #color_bg;
    border-bottom: 3px solid #themer{color_bg:+50%};
    color: @theme_text_color;
    transition-property: background-color;
    transition-duration: .5s;
    border-radius: 0;
}

window#waybar.hidden {
    opacity: 0.2;
}

tooltip {
  background: #color_bg;
  border: 1px solid #color_fg;
}

tooltip label {
  color: @theme_text_color;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

#workspaces button {
    padding: 0 0.7em;
    background-color: transparent;
    color: #color_fg;
    box-shadow: inset 0 -3px transparent;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -3px #color_fg;
}

#workspaces button.urgent {
    background-color: #color_1;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-weather,
#tray,
#mode,
#idle_inhibitor,
#custom-notification,
#sway-scratchpad,
#mpd {
    padding: 0 10px;
    margin: 6px 3px;
    color: #color_bg;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: #themer{color_bg:-10%};
    color: #color_fg;
}

#battery {
    background-color: #color_1;
    color: #color_bg;
}

#battery.charging, #battery.plugged {
    color: #color_bg;
    background-color: #color_2;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #color_4;
    color: #color_bg;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #color_3;
    color: #color_bg;
}

#memory {
    background-color: #color_3;
    color: #color_bg;
}

#backlight {
    background-color: #color_3;
}

#network {
    background-color: #color_2;
    color: #color_bg;
}

#network.disconnected {
    background-color: #color_2;
    color: #color_bg;
}

#pulseaudio {
    background-color: #color_5;
    color: #color_bg;
}

#pulseaudio.muted {
    background-color: #color_8;
    color: #color_bg;
}

#temperature {
    background-color: #color_12;
    color: #color_bg;
}

#temperature.critical {
    background-color: #color_4;
    color: #color_bg;
}

#tray {
    background-color: #color_5
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #color_4;
}

#idle_inhibitor {
    background-color: #color_fg;
    color: #color_bg;
}

#idle_inhibitor.activated {
    background-color: #color_5;
    color: #color_bg;
}

#mpd {
    background-color: #color_2;
    color: #color_bg;
}

#mpd.disconnected {
    background-color: #color_4;
}

#mpd.stopped {
    background-color: #color_0;
}

#mpd.paused {
    background-color: #color_8;
}

#language {
    background-color: #color_fg;
    color: #color_bg;
    padding: 0 5px;
    margin: 6px 3px;
    min-width: 16px;
}

#keyboard-state {
    background-color: #color_0;
    color: #color_bg;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#disk {
    background-color: #color_11;
    color: #color_bg;
}
